
[bot]
token = ""
group_id =
client_token = "" # Необходимо для плагина ImagesFromAlbumPlug
debug_mode = false
admins = [] # 000000000

[database]
# Бот использует PostgresSQL в плагине
server = "server.com"
db_name = "db"
port = 5432
user = "postgres"
password = "password"