
[bot]
token = ""
group_id =
admins = [] # 000000000
plugins = [
    "Bot.Plugins.CorePlug",
    "Bot.Plugins.PluginController",
    "Bot.Plugins.KillerPlug",
    "Bot.Plugins.KonachanPlug",
    "Bot.Plugins.PidorPlug",
    "Bot.Plugins.DbTestPlug"
]
[database]
# Бот использует PostgresSQL в плагине
server = "server.com"
db_name = "db"
port = 5432
user = "postgres"
password = "password"